/**
* Jayway theme for reveal.js
*
*/

/*********************************************
* FONT-FACE DEFINITIONS
*********************************************/

@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);


/*********************************************
* GLOBAL STYLES
*********************************************/

body {
    font-family: 'Lato', Times, 'Times New Roman', serif;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: -0.02em;
    background-image: url(/theme/jayway-logo.png);
    background-position: 10px 98%;
    background-repeat: no-repeat;
}

/*********************************************
* HEADERS
*********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 0.4em 0;
    font-family: 'News Cycle', Impact, sans-serif;
    line-height: 0.9em;
    text-transform: none;
}



/*********************************************
* LISTS
*********************************************/
ul li,
ol li {margin-bottom: 0.5em;}


/*********************************************
* ILLUSTRATIONS AND CODE
*********************************************/

.reveal section .side-by-side {
    float:left; width: 50%;
}

/*
* Fix for removal of borders on css specificity slide table.
*/
table#specificity { border: none; }
#specificity td { border: none; }

