# <%= @name%>

before { run "cd <%=project_dir%>/<%=@dir %>" }

tab :name => "Spork", :settings => "Ocean" do
  run "spork"
end

tab :name => "Watchr", :settings => "Basic" do
  run "wat"
end

tab :name => "LiveReload", :settings => "Homebrew" do
  run "rvm use system"
  run "livereload"
end

tab :name => "Rails" do
  run "rails server"
end

tab :name => "Bash" do
end
