class <%= name.capitalize %> < Thor::Group
  include Thor::Actions
  argument :name, description: 'The name of TODO'
  class_option :opt, :type => :string, :default => 'def', :aliases => %w(-o)  
  
  def self.source_root
    File.dirname(__FILE__)
  end

  def templates
    directory('templates', "#{name}")
  end

  <% tasks.each do |task| %>
  def <%=task%>
    puts "<%=task%> called #{options.inspect}"
  end
  <% end %>

  private

  def opt
    options[:opt]
  end
end
