class <%= name.capitalize %> < Thor
  include Thor::Actions
  attr_reader :name
  
  def self.source_root
    File.dirname(__FILE__)
  end
  
  desc '<%=task%> NAME', 'Generate a new single file'
  method_option :opt, :type => :string, :default => 'def', :aliases => %w(-o)
  def <%=task%>(name)
    @name = name
    puts "<%=task%> called #{name} #{options.inspect}"
    #template("templates/<%=task%>.tt", "#{task}/main.rb")       
  end
  
end
