!SLIDE 
# <%= name %> #
<% if sub_title -%>
# <%= sub_title %>
<% end -%>
### anders.janmyr@jayway.com
### http://anders.janmyr.com
### @andersjanmyr


!SLIDE bullets incremental
# Bullet Points #

* first point
* second point
* third point
