require 'sinatra/base'
require 'bundler'
Bundler.require

class <%= @name %> < Sinatra::Base
 configure(:development) do
    register Sinatra::Reloader
    also_reload "lib/**/*.rb"
  end

  get '/env' do
    p request.env
    request.env.inspect
  end
end

