.content {
  color: black;
  font-family: helvetica, arial;
}
h1, h2 {
  color: rgb(79, 180, 226);
  font-family: Georgia;
}
.content::after {
  position: absolute;
  right: 120px;
  bottom: 120px;
  width: 30px;
  height: 30px;
  content: url(images/jay_small.png);
}

::-moz-selection{
    background: pink;
}

::selection {
    background: pink;
}